{
  "FunctionName": "enterlist_caller(or enterlist_sender)",
  "Runtime": "python3.7",
  "Role": "role of aws lambda",
  "Handler": "aws.caller_handler",
  "Handler": "aws.sender_handler",
  "Code": {
    "S3Bucket": "name of aws bucket",
    "S3Key": "enterlist.zip"
  },
    "Variables": {
    "SLACK_BOT_TOKEN": "hogehoge",
    "GSPREAD_SHEET": "fugafuga"
  },
  "Description": "",
  "Publish": true
}
